agenda{
    display: table;
    border: 5px double rgb(71, 173, 233) ;
    width: 800px;
    margin-left:  auto;
    margin-right: auto; 
    margin-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

agenda::before{
    content: "Mis Contactos";
    display: table-caption; 
    font: bold italic 20px verdana; 
    color: rgb(43, 43, 124);
    text-align: center;
    margin-bottom: 4px;
}

cabecera{
    display: table-row;
    text-align: center;
    font-weight: bold;
}

nom,tel,cel,dir,mail{
    display: table-cell;
    border: 1px double rgb(2, 56, 87);
}

contacto{
    display: table-row;

}

nombre,telfijo,celular,direccion,correo{
    display: table-cell;
    border: 1px double rgb(2, 56, 87);
    border-collapse: collapse; 
    padding: 7px 7px;
}